<!-- <img src="{{ 'http://image.tmdb.org/t/p/w400/' + movie.poster_path }}" alt="" (click)='getDetails(movie)'> -->
<img class="ion-no-padding" [src]='movie.poster_path | posterImg' (click)='getDetails(movie)'>
<!-- <div class="poster" style="background-image: url('{{ movie.poster_path | posterImg }}');"> -->

  <!-- <div class="poster" [ngStyle]="{'background-image': 'url(' + (movie.poster_path | posterImg) + ')'}"> -->

  <!-- </div> -->

<!-- </div> -->
<!-- <h3>
  {{ movie.title }}
</h3> -->

