.metrics {
    display: flex;
    justify-content: center;

    ion-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ion-label {
            text-align: center;
        }
    }
    
}

.avatar {
    display: flex;
    justify-content: center;

    ion-label{
        margin-left: 20px;
    }
}