<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" 
             [scrollEvents]='true'>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar (ionChange)='search()' (ionClear)='cancel()' [(ngModel)]="query" animated debounce="500"></ion-searchbar>
  
  <ion-grid>
    <ion-row>
      <ion-col size='12'>
        <ion-segment value='title' (ionChange)='segmentChange($event)'>
          <ion-segment-button value='title'>
            <ion-label>Movie title</ion-label>
          </ion-segment-button>
          <ion-segment-button value='cast'>
            <ion-label>Cast</ion-label>
          </ion-segment-button>
          <ion-segment-button value='collections'>
            <ion-label>Collections</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  <ion-grid>

    <ion-row *ngIf="reference === 'title'">
      <ion-col size='4' *ngFor='let movie of searchResults?.title.results'>
        <app-movie-poster [movie]='movie' (click)='getDetails(movie)'></app-movie-poster>
      </ion-col>
      <ion-infinite-scroll threshold='100px' (ionInfinite)='getMoreMovies($event)'>
        <ion-infinite-scroll-content
          loadingSpinner='bubbles'
          loadingText='Loading...'>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>

    <ion-row *ngIf="reference === 'cast'">
      <ion-col size='6' *ngFor='let cast of searchResults?.cast.results'>
        <app-cast-image [cast]='cast' (click)='getDetails(cast)'></app-cast-image>
      </ion-col>
      <ion-infinite-scroll threshold='100px' (ionInfinite)='getMorePeople($event)'>
        <ion-infinite-scroll-content
          loadingSpinner='bubbles'
          loadingText='Loading...'>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>

    <ion-row *ngIf="reference === 'collections'">
      <ion-col size='12' *ngFor='let collection of searchResults?.collections'>
        <app-collection (details)='getDetails($event)' [collection]='collection'></app-collection>
      </ion-col>
    </ion-row>

    

    <!-- <ion-infinite-scroll threshold='100px' (ionInfinite)='getMoreResults($event)'>
      <ion-infinite-scroll-content
        loadingSpinner='bubbles'
        loadingText='Loading...'>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->

  </ion-grid>

</ion-content>

<!-- fab placed to the bottom start -->
<ion-fab vertical="bottom" (click)='scrollToTop()' horizontal="end" slot="fixed" *ngIf='pageCounter > 1 || castPageCounter > 1 && reference != "collections"'>
  <ion-fab-button>
    <ion-icon name="arrow-up-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>
