<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="upcoming">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label>Upcoming</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="collections">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Collections</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>
