<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ movie.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'>

  <ion-grid>
    <ion-row>
      <ion-col size='12' class="ion-no-padding">
        <ion-slides pager='true' [options]='slideOpts'>
          <ion-slide *ngFor='let image of images?.backdrops'>
            <ion-img [src]='image.file_path | posterImg '></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='12'>
        <ion-button class='platform' expand='full' *ngFor='let platform of platforms.results[region]?.flatrate'>
          {{ platform.provider_name }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='12'>
        <h1>{{ movie?.title }}</h1>
        <h6>{{ movie?.tagline }}</h6>
        <ion-chip *ngFor='let genre of movie?.genres'>
          <ion-label>{{ genre.id | genre | async }}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size='12'>
        <h3>{{ movie?.runtime }} min · <ion-badge>{{ movie?.vote_average }}</ion-badge></h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='12'>
        <ion-card>
          <ion-card-content>
            {{ movie?.overview }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
        
        <ion-col size='4' class="ion-text-start">
            <ion-button size='large' fill='clear' (click)='setSeen()'>
              <ion-icon *ngIf='!isSeen' name="eye-outline"></ion-icon>
              <ion-icon *ngIf='isSeen' name="eye"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size='4' class='ion-text-center'>
            <ion-button size='large' fill='clear' (click)='setSave()'>
              <ion-icon *ngIf='!isSaved' name="time-outline"></ion-icon>
              <ion-icon *ngIf='isSaved' name="time"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col size='4' class="ion-text-end">
            <ion-button size='large' fill='clear' (click)='addToCollection()'>
              <ion-icon name="list-outline"></ion-icon>
            </ion-button>
        </ion-col>
      
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list lines='full'>
          <ion-item>
            <ion-label>
              <h2>Language</h2>
              <h3>{{ movie?.original_language }}</h3>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h2>Release date</h2>
              <h3>{{ movie?.release_date }}</h3>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label text-wrap class="ion-text-wrap">
              <h2>Cast</h2>
              <ion-chip *ngFor='let c of cast?.cast' item-content no-wrap (click)='getCast(c)'> 
                <ion-label>{{ c.name }}</ion-label>
              </ion-chip>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
