/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";

ion-searchbar {
    --background: #5e606b;
    --color: #fcfdfd;
    --clear-button-color: #13ea9f;
    --cancel-button-color: #13ea9f;
    --placeholder-color: #fcfdfd;
}

// :root {
//   --ion-background-color: var(--ion-color-dark);
//   --ion-text-color: #fff;
//   //   --ion-tab-bar-background: var(--ion-color-primary);

//   ion-tab-button {
//     --color-selected: var(--ion-color-primary);
//   }
//   --ion-text-color-rgb: 255, 255, 255;

//   ion-card {
//     --color: #fff;
//   }

//   ion-item {
//     --border-color: var(--ion-color-light);
//     --detail-push-color: var(--ion-color-light);
//   }

//   --ion-background-color: var(--ion-color-dark);
//   --ion-text-color: #fff;
//   //   --ion-tab-bar-background: var(--ion-color-primary);

//   ion-tab-button {
//     --color-selected: var(--ion-color-primary);
//   }
//     --ion-text-color-rgb: 255, 255, 255;

//   ion-card {
//     --color: #fff;
//   }

//   ion-item {
//     --border-color: var(--ion-color-light);
//     --detail-push-color: var(--ion-color-light);
//   }

//     // ion-action-sheet{
//     //     --button-background: #252531;
//     //     --color: #13ea9f;
//     // }
// }

ion-tab-button {
    --color-selected: #13ea9f;
}

// ion-action-sheet{
//     --button-background: #252531;
//     --color: #13ea9f;
// }

ion-header {
  --ion-background-color: transparent;
}

ion-content {
  --ion-background-color: #030313;
  --ion-text-color: #ebebed;
}

app-movie-poster {
  border-radius: 10px;
}

ion-card {
  --ion-background-color: #252531;
  --ion-text-color: #fcfdfd;
}

ion-chip {
  --background: #5e606b;
  --color: #fcfdfd;
}

ion-label {
  --ion-background-color: #5e606b;
}

ion-icon {
  // color: #13ea9f;
  font-size: 45px;
}

ion-tab-bar {
  --ion-background-color: #252531;
//   --background: #252531;
//   --color: #fcfdfd;
}

ion-badge {
  --background: #13ea9f;
//   font-size: 32px;
}

.platform {
  --background: #13ea9f;
//   font-size: 40px;
}

.small{
    font-size: 24px;
}

ion-segment{
    --background: #5e606b;
}

ion-searchbar {
    --background: #5e606b;
    --color: #fcfdfd;
    --clear-button-color: #13ea9f;
    --cancel-button-color: #13ea9f;
    --placeholder-color: #fcfdfd;
}
