/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";

ion-header{
    --ion-background-color: transparent;
}

ion-content{
    --ion-background-color: #030313;
    --ion-text-color: #ebebed;
}

app-movie-poster{
    border-radius: 5px;
}

ion-card{
    --ion-background-color: #252531;
    --ion-text-color: #fcfdfd;
}

ion-chip{
    --background: #5e606b;
    --color: #fcfdfd;
}

ion-label{
    --ion-background-color: #5e606b;
}

ion-icon{
    color: #13ea9f;
    font-size: 45px;
}

ion-tabs {
    --ion-background-color: #252531;
}

ion-badge{
    --background: #13ea9f;
    font-size: 32px;
}

.platform{
    --background: #13ea9f;
}

.btn-small{
    font-size: 16px;
}