<ion-header translucent>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button class='platform' (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]='form'>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required formControlName='email'></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required formControlName='password'></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button class='platform' (click)='onSubmit()' color="danger" expand="block">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
